
<div class="col-xs-10 col-xs-offset-1">

  <div class="game-container">
    <% if @black_player.present? %>
      <%= @black_player.email %>
    <% else %>
      <%= 'Waiting for Black Player to join...' %>
    <% end %>
    <br />
    <br />
    <table id="chess_board" cellpadding="0" cellspacing="0">
      <% 7.downto(0) do |row| %>
        <tr>
          <% 0.upto(7) do |col| %>
            <td>
              <% @pieces.each do |piece| %>
                <% if piece.x_coordinates == col && piece.y_coordinates == row %>
                  <%= link_to image_tag(piece.image, class: 'img-responsive'), piece_path(piece), class: 'draggable', remote: true %>
                <% end %>
              <% end %><!-- end pieces.each -->
            </td>
          <% end %><!--end column-->
        </tr>
      <% end %><!--end row-->
    </table>
    <br />
    <% if @white_player.present? %>
      <%= @white_player.email %>
    <% else %>
      <%= 'Waiting for White Player to join...' %>
    <% end %>
    <br />
    <br />
  </div>
</div>

<br />
<br />
<div class='clear'></div>

<script>
  $(function() {
     $( ".draggable" ).draggable();
     activeClass: "ui-state-highlight",
     $( "td" ).droppable({
       drop: function( event, ui ) {
         //make piece snappable to the destination
         $(ui.draggable).detach().css({top: 0,left: 0}).appendTo(this);

         $.ajax( {  type: 'PUT',
                    url: $(ui.draggable).attr("href"),
                    dataType: 'json',
                    data: {
                      x_coordinates: this.cellIndex,
                      y_coordinates: (7-(this.parentNode.rowIndex))
                  }
                }).success(function(data){
                    if (data.valid === false) {
                      alert("Invalid move. Try again.");
                      window.location.reload();
                    }
                    if (data.valid === true && data.captured === false) {
                      alert("It is now "+ data.not_color + " player's turn.");
                    }
                    if (data.captured === true) {
                      alert(data.not_color + " piece captured");
                      window.location.reload();
                    }
                    if (data.castle === true) {
                      window.location.reload();
                    }
                    if (data.moved_into_check === true) {
                      alert("Invalid Move. You just moved yourself into check. Try again.")
                      window.location.reload();
                    }
                }); //post

       } //drop
     }); //droppable
   }); //function
 </script>
